*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;

  inline-size: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: end;
}

.result__video-container {
  padding-bottom: 16px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 54px;
  width: 100%;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 54px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px solid white;
  background-color: #fff;
  outline-offset: 2px;
}

.search-form__label:hover input[type="text"] {
  text-decoration: underline;
}

input[type="text"] {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  background-color: transparent;
  width: 100%;
  border-left: 1px;
  border-right: 1px;
  border-color: #fff;
  line-height: 21.6px;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: flex;
  width: 212px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: 225px;
}

.search-form__pseudo-checkbox {
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
}

.search-form__pseudo-checkbox::after {
  content: "";
  background-color: transparent;
  width: 19px;
  height: 19px;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  background-color: #fff;
  border: 1px;
  width: 15px;
  height: 15px;
  background-position: center;
  list-style: square;
  margin: 2px;
}

input[type="checkbox"]:active + span {
  list-style: square;
}

.search-form__lidel-text:active {
  list-style: square;
  width: 15px;
  height: 15px;

}

.search-form__submit-button:active {
  background-color: #504d4d;
}

button[type="submit"] {
  font-size: 18px;
  border: 1px solid #fff;
  line-height: 21.6px;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  height: 34px;
  width: 194px;
}

.content__details {
  height: 534px;
  overflow: hidden;
}

.title {
  font-family: "Oswald";
  height: 210px;
  width: 260px;
  font-weight: 700;
  line-height: 70.5px;
  font-size: 75px;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(105, 105, 105);
}

.content__list-container {
  margin-top: 16px;
  position: relative;
  height: 298px;
  overflow-y: scroll;
}

.content__list {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: fit-content;
}

.content__list-item {
  align-items: flex-start;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.more-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  color: #fff;
  height: 34px;
  width: 390px;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content__video-card {
  display: flex;
  /*  flex-direction: row;*/
  /*  flex-wrap:wrap ;*/
}

.content__video-card-description-container {
  width: 196px;
  height: 103px;
}

.content__video-card-title {
  font-family: "Oswald";
  text-transform: uppercase;
  /*  line-height: 30px;*/
  font-size: 30px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  line-height: 16.5px;
  font-size: 18px;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
  object-position: center;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 82px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  height: 82px;
}
